h1 All Products
table
    tr
        th Name
        th Description
        th Price
    each product in Products
        tr
            td= product.name
            td= product.description
            td= product.price
        